@font-face{
  font-family:Valorant;
  src:url('./assets/Valorant.ttf');
}

body{
  margin:0;
  padding:0;
}

#bg-image{
  height:100vh;
  background-image: url(./assets/val-wallpaper.jpg);
  background-size: cover;
  filter: blur(2px);
}

#main-body{
  height:100vh;
  width:100%;
  font-family:Valorant;
  color:whitesmoke;
  z-index:10;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top:6%;
}

#view{
  width:60%;
  margin:auto;
  padding:40px;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.65);
}

.button{
  font-family:Valorant;
}

.buy-item, .buy-item-selected{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:75px;
  flex-basis: 16.66%;
  font-size:14px;
}
.buy-item:hover, .buy-item-selected:hover{
  cursor: pointer;
  background-color: rgb(226, 180, 119);
  color:black;
}
.buy-item-selected{
  background-color: aquamarine;
  color:black;
}

#kill-sound-player{
  display:none;
}