@font-face{
  font-family:Valorant;
  src:url('./assets/Valorant.ttf');
}

body{
  margin:0;
  padding:0;
}

#bg-image{
  height:100vh;
  background-image: url(./assets/val-wallpaper.jpg);
  background-size: cover;
  filter: blur(2px);
}

#main-body{
  height:100vh;
  width:100%;
  font-family:Valorant;
  color:whitesmoke;
  z-index:10;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top:6%;
}

#view{
  width:800px;
  margin:auto;
  padding:40px;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.65);
}

.kill-death-section{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.kill-section{
  display: flex;
  flex-direction: column;
  position: relative;
}

.buy-section{
  margin-top: 50px;
}

.button{
  font-family:Valorant;
}

.buy-item, .buy-item-selected{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:75px;
  flex-basis: 16.66%;
  font-size:14px;
}
.buy-item:hover, .buy-item-selected:hover{
  cursor: pointer;
  background-color: rgb(226, 180, 119);
  color:black;
}
.buy-item-selected{
  background-color: aquamarine;
  color:black;
}

#kill-sound-player, #victory-player, #gunPlayer{
  display:none;
}

#kill-container {
  display:flex;
  position: absolute;
  left: 180px;
  top: -20px
}
.kill-icon {
  height:60px;
}

#death-section {
  width: 200px;
}

@media (max-width: 1400px) {
  #main-body{
    padding-top: 3%;
  }
  .title{
    font-size: 25px;
  }
  .subtitle{
    font-size: 20px;
  }
  .sec-title{
    font-size: 15px;
  }
  .button{
    font-size: 9px;
    color:black;
    padding:20px;
  }
  .kill-death-section, .buy-section{
    margin-top: 25px;
  }
  .buy-item, .buy-item-selected{
    font-size: 12px;
  }
  #kill-container{
    left:100px;
  }
  .kill-icon{
    height:45px;
  }
}

/* @media (max-width: 1000px) {
  .title{
    font-size: 16px;
  }
  .subtitle{
    font-size: 14px;
  }
  .sec-title{
    font-size: 13px;
  }
  .buy-item, .buy-item-selected{
    font-size: 12px;
  }
} */